@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8A05BE; /* Roxo */
  --secondary-color: #B5179E; /* Rosa */
}

body {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  color: #000; /* Texto preto para melhor contraste */
  transition: background 0.3s ease, color 0.3s ease;
}

h1, h2, h3, .font-bold, .font-semibold {
  color: var(--primary-color); /* Mantém o tema */
}
